@import "./_mixins.scss";
html {
    color: #000;
    background: #FFF
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset,
img {
    border: 0
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}
ol,
ul {
    list-style: none
}
caption,
th {
    text-align: left
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}
q:before,
q:after {
    content: ''
}
abbr,
acronym {
    border: 0;
    font-variant: normal
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}
legend {
    color: #000
}
iframe {
    display: block;
}

/* yui3 fonts */
body {
    font-family: "Microsoft YaHei";
    color: #333;
}

html,body,#app {
    height: 100%;
}
select,
input,
button,
textarea {
    font: 99% arial, helvetica, clean, sans-serif
}
table {
    font-size: inherit;
    font: 100%
}
pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%
}
a {
  text-decoration: none;
    color: inherit;
}

/* utilities */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@include clearfix;
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
.ellipsis {
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.cur {
    cursor: pointer;
}
